<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457168586785-fi7nen020jjacs769iuh9u4m6boabqc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457168586785-fi7nen020jjacs769iuh9u4m6boabqc3</string>
	<key>API_KEY</key>
	<string>AIzaSyB55KIzok7994YT9Gfd_Tq-hxTONVFTmpo</string>
	<key>GCM_SENDER_ID</key>
	<string>457168586785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.purewalletSearchEngine</string>
	<key>PROJECT_ID</key>
	<string>purewallet-588af</string>
	<key>STORAGE_BUCKET</key>
	<string>purewallet-588af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457168586785:ios:5e16e3dfbfb6f079d2bb60</string>
</dict>
</plist>